*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: steelblue!important;
}
#showcase{
    background: url("images/background-showcase.jpg") no-repeat center center/cover 
}
.container{
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.container > div{
    background-color: #cecece;
    width: auto;
    height: auto;

}
.py-1{
    padding-top:20px;

}
.py-2
{
    padding-top: 40px;
}

.py-3{
    padding-top: 60px;
}
.btn{
    display: flex!important;
    align-content: center;
    justify-content: center;
}
